<p-tabView>
  <p-tabPanel header="Change From Sub Child : {{nameData}}">
    <p-fieldset [toggleable]="true" legend="Change">
      <div class="ui-g-12">
        <h4><label style="text-align: center;">{{nameData}}</label></h4>
        <p-button class="ui-g-12" label="Change From Sub Child" (click)="changeLanguageDataFun()"></p-button>
      </div>
    </p-fieldset>
  </p-tabPanel>
  <p-tabPanel header="Pie" style="background-color: oldlace">
    <p-fieldset [toggleable]="true" legend="Pie Chart">
      <h4>Languages</h4>
      <p-chart class="ui-g-12" type="pie" [data]="languageData"></p-chart>
    </p-fieldset>
  </p-tabPanel>
  <p-tabPanel header="Languages">
    <p-fieldset [toggleable]="true" legend="Items">
      <ul *ngFor="let l of languageData.labels">
        <li>{{l}}</li>
      </ul>
    </p-fieldset>
  </p-tabPanel>
  <p-tabPanel header="Emit From Sub-Sub-Child">
      <p-fieldset>
          <p-button class="ui-g-12" label="Emit" (click)="emit()"></p-button>
      </p-fieldset>
    </p-tabPanel>
</p-tabView>