<div style="margin: 0px;">
  <div class="ui-fluid" style="background-color: gainsboro; margin: 0px;">
    <h1 style="text-align: center; color:white; background-color: orange; margin: 0px;" class="ui-g">
      <label class="ui-g-12" for="">
        Data Passing Through Components
      </label>
    </h1>
    <p-accordion [multiple]="true">
      <div class="ui-g">
        <!-- Parent Component -->
        <div class="ui-g-12 ui-md-6 ui-lg-6">
          <h1>Parent Component</h1>
          <!-- Input Decorator-(Parent To Child) -->
          <p-accordionTab header="Input Decorator - (Parent To Child) : {{name}}">
            <h1>Input Decorator</h1>
            <h4>{{name}}</h4>
            <hr>
            <p-button label="Change" (click)="change()" styleClass="ui-button-info"></p-button>
          </p-accordionTab>
          <!-- Add Languages Form -->
          <p-accordionTab header="Add Language">
            <h2 style="text-align: center">Add Language to Pie Chart</h2>
            <form [formGroup]="languageDataFormGroup">
              <label class="ui-g">
                <input placeholder="Enter Language Name" pInputText type="text" formControlName="label">
              </label>
              <br>
              <label class="ui-g">
                Language Data:&nbsp;&nbsp;
                <p-slider class="ui-g-12" [min]="0" [max]="100" [step]="1" orientation="horizontal"
                  formControlName="data">
                </p-slider>
              </label>
              <br>
              <label class="ui-g">
                Language Color:&nbsp; &nbsp;
                <p-colorPicker class="ui-g-12" formControlName="colorName"></p-colorPicker>
              </label>
              <br>
              <label class="ui-g">
                Language HoverColor:&nbsp; &nbsp;
                <p-colorPicker class="ui-colorpicker-hue ui-g-12" formControlName="hoverColor"></p-colorPicker>
              </label>
            </form>
            <br>
            <p-button label="Add Language" (click)="addLanguage()" styleClass="ui-button-info ui-g"></p-button>
          </p-accordionTab>
          <!-- List of Languages -->
          <p-accordionTab header="List of Languages">
            <ul *ngFor="let l of languageData.labels">
              <li>{{l}}</li>
            </ul>
          </p-accordionTab>
          <!-- Emitter Bar Chart -->
          <p-panel header="Emitter Chart" [toggleable]="true">
            <app-sub-sub-child-component></app-sub-sub-child-component>
          </p-panel>
          <p-button class="ui-g-12" label="Emit" (onClick)="emit()"></p-button>
        </div>
        <!-- Child Component -->
        <div class="ui-g-12 ui-md-6 ui-lg-6">
          <app-child-component [languageData]="languageData" [name]="name" (updateLanguages)="onBooksUpdated($event)">
          </app-child-component>
        </div>
      </div>
    </p-accordion>
  </div>