.App-header-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
  pointer-events: none;
}

.header {
  background-color: #282c34;
}

.react-label {
    font-size: 22px;
    color: #61dafb;
}