<div class="ui-fluid" style="background-color: gray;">
  <div class="ui-g">
    <div>
      <h1 style="margin-left: 10px; color:white;">Child Component</h1>
    </div>
    <p-fieldset class="ui-g-12" legend="Child Component : {{name}}" [toggleable]="true">
      <div class="ui-g-12">
        <div class="ui-g-12">
          <h4>{{name}}</h4>
          <span class="ui-float-label">
            <input type="text" pInputText id="auth-nm" [(ngModel)]="auth_data" />
            <label for="auth-nm">Enter Author Name</label>
          </span>
          <hr>
          <p-button label="Pass to Parent" (click)="changeLanguageDataFun(auth_data)" styleClass="ui-button-info">
          </p-button>
        </div>
      </div>
    </p-fieldset>
    <app-sub-child-component class="ui-g-12" [languageData]="languageData" [nameData]="name"
      (updateLanguages)="changeLanguageDataFun($event)"></app-sub-child-component>
  </div>
</div>